*{
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
}
.navbar{
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    padding: 20px;
}
.navbar ul{
    display: flex;
    justify-content: center;
    margin-top: -25px;
}
.navbar li{
    list-style: none;
    padding-right: 20px;
}
.navbar li a{
    text-decoration: none;
    color: black;
    font-size: 17.5px;
}
.navbar li a:hover{
    border-bottom: solid 3px purple;
    transition:  0.5s ease-out;
}
.logo h4{
    font-size: 25px;
    color: blueviolet;
    margin-left: 10px;
}
.btn button{
    float: right;
    padding: 10px;
    border: none;
    color: white;
    background-color: plum;
    font-weight: 600;
    border-radius: 5px;
}
.navbtn{
    margin-top: -22px;
}
.left{
    padding-left: 180px;
    padding-top: 50px;
    width: 500px;
}
.left h1{
    font-size: 4.5rem;
}
.explore{
    padding: 10px;
    border: none;
    background-color: rgb(250, 225, 250);
    border-radius: 20px;
    font-weight: 600;
}
.herobtn{
    padding: 15px;
    border: none;
    color:black;
    background-color: plum;
    font-weight: 600;
    border-radius: 5px;
}
.left p{
    padding-top: 20px;
}
.onlinebtn{
    padding-top: 15px;
}
.right{
    background-color:plum ;
    float: right;
    width: 450px;
    height: 450px;
    border-radius: 70%;
    margin-left: 300px; 
    margin-top: 80px;  
}
.right img{
    width: 500px;
    height: 380px;
    margin-left:-50px;
    
}
.home{
    display: flex;
}
.main-input{
    width: 900px;
    height: 100px;
    margin-top: 600px;
    margin-left: 350px;
    background-color: white;
    box-shadow: 3px 5px 5px 5px rgb(240, 238, 238);
    border-radius: 50px;
    position: absolute;
}
.input{
    display: flex;
    flex-wrap: wrap;
    gap: 160px;
    position: absolute;
}
.input-box{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color:rgb(247, 230, 247);
    margin-top: 20px;
    margin-left: 20px;
}
.icon{
font-size: 25px;
padding: 20px;
}
.icon1{
    font-size: 22px;
    padding: 20px;
}
.location{
    font-weight: 600;
    margin-left:-150px;
    margin-top: 20px;
}
.location-input{
    margin-left: 90px;
    margin-top: 45px;
    height: 25px;
    border:1px solid rgb(235, 232, 232);
    background-color: rgb(253, 239, 253);
    position: absolute;
}
.location-input,.date-input,.person-input:focus{
    outline: none;
}
.date-input{
    margin-top: 45px;
    height: 25px;
    margin-left :410px;
    width: 150px;
    position: absolute;
    border:1px solid rgb(235, 232, 232);
    background-color: rgb(253, 239, 253);
}
.person-input{
    margin-top: 45px;
    height: 25px;
    margin-left :730px;
    width: 150px;
    position: absolute;
    border:1px solid rgb(235, 232, 232);
    background-color: rgb(253, 239, 253);
}
.grid{
    display: flex;
    flex-wrap: wrap;
    gap: 180px;
    margin-top: 50px;
    margin-left: 150px;
}
.box{
    width: 300px;
    height: 390px;
    background-color: white;
    padding: 10px;
    border-radius: 10px; 
    border: 1px solid rgb(225, 225, 225);
    box-shadow:5px 5px 5px 5px rgb(197, 196, 196);
}
.image-box{
    width: 280px;
    height: 170px;
   
}
.image-box img{
    width: 100%;
    height: 100%;
}
.box-bottom button{
    border: 2px solid purple;
    padding: 10px;
    width: 120px;
    border-radius: 5px;
    background-color:white;
    margin-left: 150px;
    margin-top: -100px;
}
.box-bottom h3{
    padding: 10px;
}
.box-bottom p{
    padding: 5px;
}
.abovegrid h3{
    font-size: 40px;
}
.abovegrid{
    margin-top:150px;
    margin-left: 150px;
}
.abovegallery h3{
    font-size: 40px;
}
.abovegallery{
    margin-top: -100px;
   margin-right: 680px;
}
.gallery{
    display: flex;
    flex-flow: row wrap;
    padding-top: 180px;
    justify-content: space-evenly;
}
.container{
    display: flex;
    flex-flow: column wrap;
    padding: 25px;
    margin-top:30px;
    background-color:white;
    border: 2px solid plum;
    border-radius: 50px;
    box-sizing: border-box;
    box-shadow: 8px 8px 8px 8px  rgb(204, 202, 202);
    width: 80%;
    justify-content: space-around;
    height: 110vh;
}
.grid-box-1{
    width: 350px;
    height: 200px;
}
.grid-box-1 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.grid-box-2{
    width: 350px;
    height: 450px;

}
.grid-box-2 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;

}
.grid-box-3{
    width: 350px;
    height: 200px;
    align-self:stretch;
}
.grid-box-3 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;

}
.grid-box-4{
    width: 350px;
    height: 215px;
    /* margin-top: -255px; */
}
.grid-box-4 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.grid-box-5{
    width: 350px;
    height: 200px;
}
.grid-box-5 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;

}
.grid-box-6{
    width: 350px;
    height: 400px;
    /* margin-top: -250px; */
}
.grid-box-6 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;

}
.grid-box-7{
    width: 350px;
    height: 270px;
}
.grid-box-7 img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
footer{
    width: 100%;
    height: 300px;
    background-color: rgb(235, 234, 234);
    box-sizing: border-box;
    margin-top: 150px;
}
.list-box{
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
} 
.box-1{
    width: 200px;
}
.box-1 i{
    margin-left: 10px;
    font-size: 30px;
    color: #A4508B;
}
[class^="box-"] li{
    font-size: 17px;
    list-style: none;
}
[class^="box-"] h3{
    font-size: 25px;
    /* padding-bottom: 20px; */
    margin-bottom: 20px;
}

@media(max-width:768px){
    footer{
        width: 1300px;
        margin-top: 1500px;
    }
    .container{
        justify-content: space-evenly;
        display: flex;
        margin-left: 900px;
        width:1000px;
        position: absolute;
        margin-top: 300px;
        flex: column wrap;
    }
    .gallery{
        display: flex;
        flex-flow: row wrap;
        padding-top: 180px;
        justify-content: space-around;
    }
    .abovegallery h3{
        font-size: 50px;
        padding: 15px;
    }
    .abovegallery p{
        font-size: 30px;
        padding: 15px;
    }
    .abovegallery{
       margin-top:50px;
       margin-left: 1200px;
       position: absolute;
       width: 600px;
    }
    .grid{
       gap: 200px;
       margin-left: 200px;
       margin-top: 100px;
    }
    .image-box{
        width: 900px;
        height: 500px;
       
    }
    .box{
        width: 1000px;
        height: 900px;
        background-color: white;
        padding: 10px;
        border-radius: 10px; 
        border: 1px solid rgb(225, 225, 225);
    }
    .box img{
        padding: 20px;
    }
    .box-bottom h3{
        padding: 20px;
        font-size: 55px;
    }
    .box-bottom p{
        padding: 15px;
        font-size: 35px;
    }
    .box-bottom button{
        border: 2px solid purple;
        padding: 20px;
        width: 180px;
        border-radius: 5px;
        background-color:white;
        margin-left: 650px;
        margin-top:-50px;
        font-size: 25px;
        position: absolute;

    }
    .abovegrid h3{
        font-size: 50px;
    }
    .abovegrid p{
        padding: 15px;
        font-size: 35px;
    }
    .abovegrid{
        margin-top:150px;
        margin-left: 150px;
        width: 650px;
    }
    .left{
        padding-left: 130px;
        padding-top: 50px;
        width: 500px;
    }
    .navbar li{
        list-style: none;
    }
    .navbar ul{
        margin-top: 5px;
    }
    .navbar button{
        margin-top:5px;
    }
    .logo h4{
        margin-top: 5px;
    }
    .navbar{
        display: flex;
        flex-direction:row;
        justify-content:space-around;
        width: 1200px;
    }
    .grid-box-1{
        width: 300px;
    }
    .grid-box-2{
        width: 300px;
        height: 470px;
    }
    .grid-box-3{
        width: 300px;
    }
    .grid-box-4{
        width: 300px;
        height: 245px;
    }
    .grid-box-5{
        width: 300px;
    }
    .grid-box-6{
        width: 300px;
    }
    .grid-box-7{
        width: 300px;
    }
}